@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
	/* font-family: "Montserrat", sans-serif; */
	font : 300 15px "Montserrat","Open Sans","Arial",sans-serif;
	/*
    scroll-behavior: smooth;
	Scrollbar : none;
	*/
	scrollbar-width: none;
}


#landing-page {
	height : 100vh;
	/* background-color : grey; */
	/* background-image : url("image/bg2.jpg"); */
	/* background-position: top right; */
	/* background-repeat: no-repeat; */
}

#landing-page-background {
	height : 100vh;
	width : 100%;
	margin : 0px;
	padding : 0px;
	z-index : 1;
	position : relative;
	transition : opacity 1s;
	object-fit : cover;
}



header {
	position: absolute;
	top : 0%;
	left : 0%;
	display : flex;
	z-index : 10;
	/* position : fixed; */
	justify-content : space-between;
	height : 70px;
	width : 100%;
	/* background-color : #242526; */
	/* background-color : rgba(0,0,0,0.5);  */
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0));
}

#header-logo {
	/* background-color : red; */
	display : flex;
	margin-left : 20px;
}

#header-logo img {
	height : 40px;
	padding : 15px;
	margin : auto;
}

#header-nav {
	/* background-color : blue; */
	display : flex;
}

#header-nav ul {
	display : flex;
}

#header-nav li {
	list-style-type : none;
	margin : auto 30px;
	font-size : 17px;
	font-weight : 400;
	color : white;
	letter-spacing: 3px;
}

#header-nav li:hover {
	/* color : #e900ec; */
	color : grey;
	cursor : pointer;
	text-decoration: underline 2px;
}

#header-social-network {
	/* background-color : green; */
	display : flex;
	margin-right : 20px;
}

#header-social-network a {
	margin : auto 10px;
	height : 35px;
}

#header-social-network img {
	/* margin : auto 10px; */
	height : 35px;
}

#main-text {
	position : absolute;
	top : 30%;
	left : 0%;
	width : 50%;
	height : 50vh;
	/* top : 15%; */
	/* left : 10%; */
	text-align : center;
	color : white;
	z-index : 10;
}

#main-logo {
	height : 100px;
	margin : 15px;
}

#main-name {
	font-size : 60px;
	font-weight: 500;
	text-shadow: 0.1em 0.1em 0.2em black
}

#main-job {
	font-size : 20px;
	font-weight: 500;
	letter-spacing: 3px;
	margin : 10px;
	text-shadow: 0.1em 0.1em 0.2em black
}

#scroll_down {
	display : center;
	position : absolute;
	bottom : 0px;
	width : 100%;
	text-align : center;
	padding-bottom : 30px;
	display : none;
	z-index : 10
}

#scroll_down img {
	height : 100px;
	margin : auto;	
}

#section-2 {
	height : 100vh;
}






